@import "fonts.css";

/*Variables*/
html {
  --black-color: #141b1f;
  --green-color: #36ce7d;
  --white-color: #F0F0F0;
  --dark-color: #25323a;
  --blue-color: #555cf0;
  --dark-blue-color: #3237ad;
  --lil-color: #a3a3f8;
  --orange-color: #ff6915;
  --accent-color: #c5fe65;


  /*Темная тема*/
  /*--background-color: #121212;*/
  /*--windows-color: #1c1c1c;*/

  --background-color: #141b1f;
  --windows-color: #25323a;
  --theme-color: var(--white-color);


  /*Светлая тема*/
  /*--background-color: #f9f9f9;*/
  /*--windows-color: #3e4054;*/
  /*--theme-color: var(--text-color);*/

  --headers-color: #1A1A19;
  --text-color: #1A1A19;

  --headers-font: Geologica;
  --text-font: GolosText;
  --default-gap: 12px;
}

  /*Settings*/

  * {
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4 {
    font-family: var(--headers-font);
    text-transform: uppercase;
    letter-spacing: -1px;
    color: var(--headers-color);
    margin-bottom: 5px;
  }

  h2 {
    color: var(--theme-color);
  }

  h1 {
    font-size: 60px;
    font-weight: 700;
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
  }

  h3 {
    font-weight: 500;
    font-size: 20px;
  }

  .center {
    text-align: center;
  }

  .white {
    color: var(--white-color)
  }

  .header_center {
    text-align: center;
    margin: 100px 0 40px 0;
  }

  .button_center {
    margin-top: 50px;
    text-align: center;
  }

  p {
    font-size: 16px;
    font-family: var(--text-font);
    line-height: 1.2;
    font-weight: 400;
    color: var(--text-color);
  }

  a {
    text-decoration: none;
    /*color: var(--white-color);*/
  }

  /*a:hover {*/
  /*  color: var(--accent-color)*/
  /*}*/

  body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: "GolosText", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

@media screen and (max-width: 576px)  {
  h1, h2, h3, h4 {
    text-transform: none;
  }
  h2 {
    font-size: 24px;
  }
}