@import "fonts.css";

/*Variables*/
:root {
  /*Основные цвета*/
  --black-color: #141b1f;
  --dark-color: #2c2d3b;
  --gray-color: #484a61;
  --light-color: #F5F5F5;
  --white-color: white;
  /**/
  --green-color: #36ce7d;
  --blue-color: #555cf0;
  --dark-blue-color: #3237ad;
  --lil-color: #a3a3f8;
  --orange-color: #ff6915;
  --green-light-color: #c5fe65;

}

[data-theme="light"] {
  /*Копируем из ТУДОВА*/
  --background-color: var(--light-color);

  --primary-color: var(--white-color);
  --primary-hover-color: #eef1f5;

  --alternate-color: var(--dark-color);

  --page-color: var(--white-color);
  --page-hover-color: #eef1f5;

  --accent-color: var(--orange-color);
  --accent-hover-color: #ff9715;

  --services-blue-color: var(--lil-color);
  --services-dark-blue-color: var(--blue-color);

  --blocks-lil-color: var(--white-color);
  --blocks-green-color: var(--white-color);
  --blocks-blue-color: var(--white-color);
  --blocks-blue-active-color: #eef1f5;
  --blocks-dark-color: var(--white-color);
  --blocks-input-color: #eef1f5;

  --box-shadow: 0 0 12px 0 rgba(204,204,204,.25);
  --page-box-shadow: 0 0 12px 0 rgba(204,204,204,.25);

}

[data-theme="dark"] {
  --background-color: var(--dark-color);

  --primary-color: var(--black-color);
  --primary-hover-color: var(--gray-color);

  --alternate-color: var(--light-color);

  --page-color: var(--gray-color);
  --page-hover-color: #8084AD;

  --accent-color: var(--green-light-color);
  --accent-hover-color: #D6FF91;

  --blocks-lil-color: var(--lil-color);
  --blocks-green-color: var(--green-color);
  --blocks-blue-color: var(--blue-color);
  --blocks-blue-active-color: var(--blue-color);
  --blocks-dark-color: var(--background-color);
  --blocks-input-color: var(--primary-color);

  --services-blue-color: var(--blue-color);
  --services-dark-blue-color: var(--dark-blue-color);

  --box-shadow: 0 0 12px 0 rgba(0,0,0,.15);
  --page-box-shadow: 0 0 12px 0 rgba(0,0,0,.50);
}

html {

  --headers-font: Geologica;
  --text-font: GolosText;
  --default-gap: 12px;
}

  /*Settings*/

  * {
    margin: 0;
    padding: 0;
  }

  body {
    height: 100vh;
  }


  .wrapper {
    /*margin: 0 0 110px 0;*/
    height: 100vh;
  }

  .container {
    height: 100vh;
  }

  .wrap {
    min-height: 100%;
  }

  .main {
    padding-bottom: 180px;
  }

  h1, h2, h3, h4 {
    font-family: var(--headers-font);
    text-transform: uppercase;
    letter-spacing: -1px;
    /*color: var(--dark-color);*/
    margin-bottom: 5px;
  }

  h2 {
    color: var(--alternate-color);
  }

  h1 {
    font-size: 60px;
    font-weight: 700;
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
  }

  h3 {
    font-weight: 500;
    font-size: 20px;
  }

  .center {
    text-align: center;
  }

  .white {
    color: var(--white-color)
  }

  .header_center {
    text-align: center;
    margin: 100px 0 40px 0;
  }

  .button_center {
    margin-top: 50px;
    text-align: center;
  }

  p {
    font-size: 16px;
    font-family: var(--text-font);
    line-height: 1.2;
    font-weight: 400;
    color: var(--text-color);
  }

  a {
    text-decoration: none;
    color: var(--alternate-color);
  }
  a:hover {
    color: var(--accent-color);
  }

  /*a:hover {*/
  /*  color: var(--accent-color)*/
  /*}*/

  body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: "GolosText", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  .mobile_visibility {
    display: none;
  }

  .desktop_visibility {
    display: block;
  }

@media screen and (max-width: 576px)  {

  .mobile_visibility {
    display: block;
  }
  .desktop_visibility {
    display: none;
  }

  h1, h2, h3, h4 {
    text-transform: none;
  }
  h2 {
    font-size: 24px;
  }
  .header_center {
    margin: 60px 0 24px 0;
  }
}