
.footer {
    margin-top: 150px;
    background: var(--blue-color);
    display: flex;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}
.footer div {
    text-align: center;
}

.footer div ul {
    list-style: none;

}

.footer div ul li {
    padding: 5px 0;
}
