
.footer {
    margin-top: 150px;
    background: var(--windows-color);
    color: var(--white-color);
    display: flex;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}
.footer div {
    text-align: center;
}

.footer div a {
    color: var(--white-color);
}

.footer div a:hover {
    color: var(--accent-color);
}

.footer div ul {
    list-style: none;

}

.footer div ul li {
    padding: 5px 0;
}

@media screen and (max-width: 992px)  {
    .footer {
        padding: 24px 24px 0 24px;
    }

    .footer_list {
        display: none;
    }
}
