
.footer {
    /*margin-top: 150px;*/
    margin-top: -140px;
    /*Минус Высота футера*/
    height: 100px;
    background: var(--page-color);
    color: var(--alternate-color);
    display: flex;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    box-shadow: var(--page-box-shadow);
}
.footer div {
    text-align: center;
}

/*.footer div a {*/
/*    color: var(--white-color);*/
/*}*/

.footer div a:hover {
    color: var(--accent-color);
}

.footer div ul {
    list-style: none;

}

/*.footer div ul li {*/
/*    padding: 5px 0;*/
/*}*/

.footer_mobile {
    visibility: hidden;
    width: 100%;
}

.footer_mobile ul {
    list-style: none;
}

.footer_mobile > ul li {
    display: inline-block;
    border-radius: 24px;
    padding: 10px 4%;
    /*transition: 0.2s ease-in;*/

}

.footer_mobile > ul li:active {
    background: #557386;
}

.footer_mobile > ul li span {
    display: block;
}

.mobile_active {
    color: var(--accent-color);
}


@media screen and (max-width: 992px)  {
    .footer {
        padding: 24px 24px 0 24px;
    }

    .footer_list {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .footer {
        position: fixed;
        justify-content: center;
        bottom: 0;
        left: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 80px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        text-align: center;
    }
    .footer_mobile {
        visibility: visible;
    }
}
