
.service {
    display: flex;
    border-radius: 32px;
    background: var(--dark-blue-color);
    cursor: pointer;
    height: 100%;
}

.serviceLeft {
    background: var(--blue-color);
    padding: 25px 12px;
    border-radius: 32px;
    /* offset-x | offset-y | blur-radius | color */
    /*box-shadow: 4px 0px 20px rgba(22, 76, 82, 16%);*/
}

/*.serviceLeft div {*/
/*    display: inline-block;*/
/*    background: var(--green-color);*/
/*    font-family: var(--headers-font);*/
/*    font-size: 24px;*/
/*    text-transform: uppercase;*/
/*    font-weight: 600;*/
/*    padding: 8px 20px;*/
/*    border-radius: 50px;*/

/*}*/

.serviceLeft p {
    margin-top: 30px;
}

.serviceRight {
    /*padding: 40px 12px 12px 20px;*/
    /*padding-left: 10px;*/
    min-width: 80px;
}

.serviceRight p {
    padding-left: 15px;
    padding-top: 20px;
    font-family: var(--headers-font);
    font-size: 18px;
    font-weight: 600;
}

.serviceRight_icon {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

@media screen and (max-width: 1920px)  {
    .serviceLeft div {
        font-size: 20px;
    }
    .serviceRight {
        padding-left: 10px;
    }
}

