
.popup_box {
    position: relative;
    display: inline-block;
}


.popup {
    position: absolute;
    display: inline-block;
    right: 0;
    margin-top: 5px;
    padding: 25px;
    background: var(--dark-color);
    box-shadow: 0 4px 8px rgba(22, 76, 82, 0.16);
    border-radius: 32px;
    z-index: 9999;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}