
.popup_box {
    position: relative;
    display: inline-block;
}


.popup {
    position: absolute;
    display: inline-block;
    right: 0;
    margin-top: 5px;
    padding: 25px;
    background: var(--background-color);
    box-shadow: var(--page-box-shadow);
    border-radius: 32px;
    z-index: 9999;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}