
.status {
    min-width: 140px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.status ul {
    list-style: none;
    line-height: 2;
    color: var(--white-color);
    cursor: pointer;
}

.step1 {
    color: var(--orange-color)
}

.step2 {
    color: var(--lil-color)
}

.step4 {
    color: var(--green-color)
}