
.button {
    font-family: GolosText;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    height: 40px;
    border-radius: 50px;
    /*outline: none;*/
    border: 0;
    cursor: pointer;
    margin: 0 5px;
}

.button:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.buttonLight {
    background: #ffffff;
    color: var(--dark-color);
}

.buttonLight:hover {
    background: var(--neutral-color);
}

.buttonDark {
    background: var(--dark-color);
    color: #ffffff;
}

.buttonDark:hover {
    background: var(--accent-color);
    /*color: var(--add-color-dark-1);*/
}