
.inputWrapper {

}

.inputWrapper p {
    font-family: var(--text-font);
    font-weight: 500;
    font-size: 15px;
    color: var(--black-color);
    text-transform: uppercase;
    margin-bottom: 10px;
    /*padding-left: 10px;*/
}