
/*.select {*/
/*    width: 100%;*/
/*    height: 40px;*/
/*    border-radius: 50px;*/
/*    padding: 0 10px;*/
/*    outline: none;*/
/*}*/
.select {
    width: 100%;
    height: 42px;
    background-color: var(--blocks-input-color);
    color: var(--alternate-color);
    border: none;
    border-radius: 50px;
    padding: 10px;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select option {
    background-color: var(--primary-color);
    color: var(--alternate-color);
}

.select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}