
.step {
    display: flex;
    gap: var(--default-gap);
    /*display: inline-block;*/
}

.step_text {
    background: var(--blue-color);
    border-radius: 32px;
    padding: 25px 40px;

}