
.profile {
    position: absolute;
    right: 0;
    top: 100px;
    padding: 30px;
    background: var(--windows-color);
    border-radius: 32px;
    z-index: 9999;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.profile_content {

}

.profile_content ul {
    list-style: none;
}

.profile_content ul > li {
    cursor: pointer;
    background: var(--accent-color);
    padding: 2px 10px;
    margin: 8px 0;
    border-radius: 30px;
}





