.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-top: 20px;
    z-index: 99;
}

.header_logo {
    color: var(--alternate-color);
    padding-top: 10px;
    /*align-items: center;*/
}

.navbar {
    /*border: 1px solid var(--theme-color);*/
    background: var(--black-color);
    border-radius: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}

.navbar ul {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    font-family: var(--text-font);
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    padding: 5px 20px;
}

.navbar ul li:not(:first-child):not(:last-child) {
    padding: 25px;
}

.navbar ul li:first-child, .navbar ul li:last-child {
    padding: 0 25px;
}

.headers_menu {
    display: flex;
    /*gap: 10px;*/
}

.header_mobile {
    display: none;
}

@media screen and (max-width: 992px)  {
    .navbar ul li:not(:first-child):not(:last-child) {
        padding: 0;
    }
    .navbar ul li:first-child, .navbar ul li:last-child {
        padding: 0;
    }
    .navbar ul li a {
        padding: 0;
    }

}

@media screen and (max-width: 768px)  {
    .navbar {
        display: none;
    }
}


@media screen and (max-width: 576px)  {
    .header {
        display: none;
        /*position: fixed;*/
        /*bottom: 0;*/
    }
    .header_mobile {
        margin-top: 24px;
        display: block;
    }
}