
.service {
    display: flex;
    border-radius: 32px;
    background: var(--add-color-light-3);
    cursor: pointer;
    height: 100%;
}

.serviceLeft {
    background: var(--add-color-light-2);
    padding: 25px 12px;
    border-radius: 32px;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 4px 0px 20px rgba(22, 76, 82, 16%);
}

.serviceLeft div {
    display: inline-block;
    background: var(--accent-color);
    font-family: Geologica;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 50px;

}

.serviceLeft p {
    margin-top: 30px;
}

.serviceRight {
    padding: 40px 12px 12px 20px;
}

.serviceRight p {
    font-family: Geologica;
    font-size: 18px;
    font-weight: 600;
}

.serviceRight_icon {
    position: absolute;
    bottom: 12px;
    right: 20px;
}

