
.spoiler {
    background: var(--page-color);
    /*height: 62px;*/
    border-radius: 50px;
    padding: 20px 30px;
    margin: 12px 0;
    cursor: pointer;
}

.spoiler p {
    color: var(--alternate-color);
    font-size: 20px;
    display: inline;
}

.spoiler span {
    color: var(--alternate-color);
}

.spoiler .spoilerButton {
    float: right;
    position: relative;
}

