
.tariff {
    padding: 24px;
    border-radius: 48px;
}
.chosen {
    background: var(--page-color);
    transition: all 0.2s ease-out;
}
.chosen .tariff_box {
    background: var(--blocks-blue-active-color);
}
.tariff_box {
    position: relative;
    background: var(--blocks-blue-color);
    border-radius: 40px;
    padding: 30px;
}
.tariff_box h3 {
    font-size: 24px;
}
.tariff_box_flex {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}
.tariff_box_center {
    position: relative;
    padding: 30px 50% 20px 0;
}

.tariff_box_center span {
    font-size: 32px;
    font-weight: 700;
}

.tariff_conditions {
    padding: 24px 0;
}

.tariff_conditions_center {
    padding-top: 35px;
    text-align: center;
}