

.input {
    outline: none;
    /*height: 42px;*/
    width: calc(100% - 25px);
    border: 0;
    padding-left: 25px;
    border-radius: 50px;
}

.primary {
    box-shadow: var(--box-shadow);
    background: var(--primary-color);
    border: px solid var(--primary-color);
    color: var(--alternate-color);
}

.blocks {
    /*box-shadow: var(--box-shadow);*/
    background: var(--blocks-input-color);
    border: px solid var(--blocks-input-color);
    color: var(--alternate-color);
}



    .input:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}