
.header {
    height: 50px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    /*margin-bottom: 10px;*/
}

.content {
    height: calc(100vh - 100px);

}

.wrapper-reader {
    /*column-count: 1;*/
    /*columns-gap: 1em;*/
    height: 100%;
    padding: 0 50px;
    /*height: 100%;*/
    /*overflow-y: scroll;*/
    color: #223c50;
    background: #f9f9fd;
    border: 1px solid black;
}

.wrapper-reader div {
    column-count: 2;
}

.footer {
    height: 50px;
}