
.myBook {
    background: var(--lil-color);
    padding: 32px;
    margin-bottom: 12px;
    border-radius: 48px;
}

.myBook_cover {
    height: 100%;
    background: var(--background-color);
    border-radius: 32px;
}

.myBook_about_title {
    background: var(--green-color);
    margin-bottom: 10px;
    border-radius: 28px;
    padding: 20px 30px;
}

.myBook_about_title h3 {
    font-size: 16px;
}

.myBook_about_title p {
    font-size: 15px;
}

.myBooks_about_description {
    background: var(--blue-color);
    border-radius: 32px;
    padding: 20px 30px;
}

.myBooks_about_description span {
    font-size: 20px;
}

.myBooks_about_description p {
    font-size: 15px;
}

.myBook_add {
    padding-left: 30px;
}

.myBook_add_top {
    display: flex;
    gap: 40px;
}

.myBook_add_top div span {
    font-size: 20px;
}

.myBook_add_top div p {
    margin-top: 10px;
}

.myBook_add_bottom {
    margin-top: 30px;
}
