
.breadcrumbs {
    padding: 40px 0;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.breadcrumbs div {
    position: relative;
    height: 10px;
    width: 10px;
    background: #ffffff;
    border-radius: 50px;
    cursor: pointer;
}

.breadcrumbs div:first-child {
    height: 15px;
    width: 15px;
}