
.advantage {
    width: 100%;
    border-radius: 50px;
}

.advantageLight {
    background: var(--green-color);
}

.advantageDark {
    background: var(--lil-color);
}

.advantage h3, .advantage p {
    color: var(--text-color);
}

.advantage_top {
    padding: 20px 35px 80px 35px;
}

.advantage_top div {
    float: right;
}

.advantage_bottom {
    padding: 20px 35px;
}
