
.advantage {
    width: 100%;
    border-radius: 50px;
}

.advantageLight {
    background: var(--blue-color);
}

.advantageDark {
    background: var(--dark-color);
}

.advantageDark h3, .advantageDark p {
    color: white;
}

.advantage_top {
    padding: 20px 35px 80px 35px;
}

.advantage_top div {
    float: right;
}

.advantage_bottom {
    padding: 20px 35px;
}
