
.publishStep {
    /*margin-top: 100px;*/
    margin-bottom: 25px;
    /*background: var(--green-color);*/
    padding: 45px 35px;
    border-radius: 54px;
}

.green {
    background: var(--green-color);
}

.lil {
    background: var(--lil-color);
}