
.profile {
    position: absolute;
    right: 0;
    top: 100px;
    padding: 30px;
    background: var(--dark-color);
    box-shadow: 0 4px 8px rgba(22, 76, 82, 0.16);
    border-radius: 32px;
    z-index: 9999;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.profile_content {

}

.profile_content ul {
    list-style: none;
}

.profile_content ul > li {
    padding: 4px 0;
}






