
.faqCard {
    background: var(--lil-color);
    border-radius: 32px;
    padding: 0 20px 20px 20px;
}

.faqCard_name {
    margin-bottom: 10px;
    display: flex;
    line-height: 2.5;
    gap: 10px;
    padding: 20px 0 0 0;
}