
.textarea {
    width: calc(100% - 80px);
    min-height: 20px;
    height: 20px;
    border-radius: 50px;
    padding: 25px 40px;
    resize: vertical;
    max-height: 100px;
    outline: none;
}

.textarea:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}