
.numberBlock {
    border: 1px solid var(--text-color);
    background: white;
    font-size: 48px;
    font-weight: 600;
    flex-basis: 275px;
    width: 78px;
    height: 78px;
    text-align: center;
    border-radius: 50px;
    color: var(--text-color);
}